@import '!colours/palette';

$govuk-blue: #006ccc;
$button-colour: $govuk-blue;
$link-colour: $govuk-blue;
$discovery-colour: $govuk-blue;
$alpha-colour: $govuk-blue;
$beta-colour: $govuk-blue;
$mainstream-brand: $govuk-blue;
