@import '!elements/forms';

// File upload

input[type="file"] {
  background: $stone-40;
  border: 1px solid $stone;
  padding: 15px;
}

select.form-control {
  padding: 10px;
  /* add arrow */
  background:
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%),
    linear-gradient(to right, white, white);
  background-position:
    calc(100% - 23px) calc(1em + 0px),
    calc(100% - 13px) calc(1em + 0px);
  background-size: 10px 10px;
  background-repeat: no-repeat;

  // Disable inner shadow and remove rounded corners
  border-radius: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance:none;
  -moz-appearance:none;
}

.multiple-choice [type=radio] + label::after {
  color: $mid-blue;
}

.multiple-choice [type=checkbox] + label::after {
  color: $mid-blue;
}
