
// UTILITY CLASSES
// ================

@import '../../partials/colours';

// Backgrounds

$colours:
  ($black, black),
  ($grey, grey),
  ($mid-grey, mid-grey),
  ($light-grey, light-grey),
  ($offwhite, offwhite),
  ($white, white),
  ($purple, purple),
  ($great-blue, great-blue),
  ($dark-navy, dark-navy),
  ($mid-blue, mid-blue),
  ($active-blue, active-blue),
  ($light-blue, light-blue),
  ($aqua, aqua),
  ($teal, teal),
  ($flag-red, flag-red),
  ($great-red, great-red),
  ($focus-yellow, focus-yellow),
  ($stone-10, stone-10),
  ($stone-20, stone-20),
  ($stone-30, stone-30),
  ($stone-40, stone-40),
  ($stone-50, stone-50),
  ($stone-60, stone-60),
  ($stone-70, stone-70),
  ($stone-80, stone-80),
  ($stone-90, stone-90),
  ($stone, stone);

@each $colour, $name in $colours {
  .background-#{$name} {
    background-color: $colour;
  }
}

// Text colour

@each $colour, $name in $colours {
  .#{$name}-text {
    color: $colour;
  }
}

// Borders
@each $colour, $name in $colours {
  .border-#{$name} {
    border-color: $colour;
  }
}

.border-thick  { border-style: solid; border-width: 6px }
.border-medium { border-style: solid; border-width: 4px }
.border-thin   { border-style: solid; border-width: 2px }

// Padding/margin

$spacings: 0 15 30 45 60 90;

@each $spacing in $spacings {
  .padding-#{$spacing} {
    padding: #{$spacing}px;
  }
}

@each $spacing in $spacings {
  .padding-top-#{$spacing} {
    padding-top: #{$spacing}px;
  }
}

@each $spacing in $spacings {
  .padding-bottom-#{$spacing} {
    padding-bottom: #{$spacing}px;
  }
}

@each $spacing in $spacings {
  .padding-vertical-#{$spacing} {
    padding-top: #{$spacing}px;
    padding-bottom: #{$spacing}px;
  }
}

@each $spacing in $spacings {
  .margin-#{$spacing} {
    margin: #{$spacing}px;
  }
}

@each $spacing in $spacings {
  .margin-top-#{$spacing} {
    margin-top: #{$spacing}px;
  }
}

@each $spacing in $spacings {
  .margin-bottom-#{$spacing} {
    margin-bottom: #{$spacing}px;
  }
}

@each $spacing in $spacings {
  .margin-vertical-#{$spacing} {
    margin-top: #{$spacing}px;
    margin-bottom: #{$spacing}px;
  }
}

// Text

.uppercase { text-transform: uppercase }

// Layout

section.blue-underline > .container {
  border-bottom: 6px solid $active-blue;
}

.wrap-tight > *:first-child {
  margin-top: 0;
  padding-top: 0;
}

.wrap-tight > *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.centered {
  margin: 0 auto;
  float: none;
}
