
// Compatibility
// ----------------------------

#header {
  ul li {
    position: static;
  }
}

#header, #footer {
  li {
    padding: 0;
    margin: 0;

    &:before {
      background: none;
    }
  }
}
