
// General mixins
// ----------------

@import 'colours';

@mixin great-red-trim {
  background-color: $great-red;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@mixin focus {
  outline: $focus-yellow solid 3px;
  outline-offset: 0;
}

@mixin separator($colour) {
  background-color: $colour;
  content: '';
  display: inline-block;
  height: 1em;
  margin: 0 0.5em 0 0.3em;
  width: 1px;
  vertical-align: middle;
}

@mixin rotate($deg) {
  -ms-transform: rotate(#{$deg + 'deg'}); /* IE 9 */
  -webkit-transform: rotate(#{$deg + 'deg'});
  transform: rotate(#{$deg + 'deg'});
}

// BUTTONS
// prefixed with great- so they don't clash with govuk mixins
@mixin great-button($colour: $button-colour) {
  @extend .button;
  @include font-large-bold;
  padding: 10px 45px;
  // Bottom edge effect
  @include box-shadow(none);
  @include ie-lte(8) {
    border-bottom: 0;
  }
}

@mixin great-button-disabled($colour-1, $colour-2) {
  background-color: $colour-1;
  border-color: $colour-1;
  color: $colour-2;
  cursor: default;

  &:hover {
    background-color: $colour-1;
    border-color: $colour-1;
    color: $colour-2;
  }
}

@mixin great-button-ghost($colour: $button-colour) {
  @extend .button;
  background-color: transparent;
  border: 2px solid $colour;
  color: $colour;

  &:hover,
  &:focus {
    background-color: $colour;
  }

  &:link,
  &:visited {
    color: $colour;
  }

  @if ($colour == $white) {

    &:link:focus,
    &:hover,
    &:focus {
      color: $black;
      background-color: $white;
    }

    &:active {
      color: $black;
      background-color: $white;
    }

  } @else {

    &:link:focus,
    &:hover,
    &:focus {
      color: $white;
    }

    &:active {
      color: $white;
      background-color: $colour;
    }
  }
}


// CHEVRONS
@mixin down-chevron-1($colour) {
  @include chevron(45deg, $colour);
  border-color: $colour;
  border-width: 0 2px 2px 0;
  top: 1px;
}

@mixin left-chevron-1($colour) {
  @include chevron(45deg, $colour);
  border-color: $colour;
  border-width: 0 0 2px 2px;
  top: 0;
}

@mixin right-chevron-1($colour) {
  @include chevron(45deg, $colour);
  border-color: $colour;
  border-width: 2px 2px 0 0;
  top: 0;
}

@mixin right-chevron-2($colour) {
  @include chevron(45deg, $colour);
  vertical-align: middle;
  border-color: $colour;
  border-width: 2px 2px 0 0;
  margin: 0 5px;
  top: 0;
}

@mixin up-chevron-1($colour) {
  @include chevron(45deg, $colour);
  border-color: $colour;
  border-width: 2px 0 0 2px;
  top: 5px;
}
