{% extends "govuk_template.html" %}

{% block page_title %}Buttons — GOV.UK elements{% endblock %}

{% block main_content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">GOV.UK elements</span>
    Buttons
  </h1>

  <p class="lede text">
    Use buttons to move though a transaction, aim to use only one button per page.
  </p>

  <h2 class="heading-small heading-contents">Contents:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#button-text">Button text</a></li>
        <li><a href="#button-types">Button types</a></li>
        <li><a href="#button-alignment">Button alignment</a></li>
        <li><a href="#button-disabled">Disabled buttons</a></li>
        <li><a href="#creating-buttons">Creating buttons</a></li>
      </ul>
    </div>
  </div>

  <h3 class="heading-medium" id="button-text">Button text</h3>
  <p class="text">
    Button text should be short and describe the action the button performs.
  </p>

<div class="example">
  {% include "snippets/buttons_button.html" %}
</div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/buttons_button.html" %}
  {% endfilter %}
</code>
</pre>

  <h3 class="heading-medium" id="button-types">Button types</h3>
  <p class="text">
    Solid colour button.
  </p>

<div class="example">
  {% include "great_snippets/buttons_button_solid.html" %}
</div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "great_snippets/buttons_button_solid.html" %}
  {% endfilter %}
</code>
</pre>

  <p class="text">
    Blue ghost button.
  </p>

<div class="example">
  {% include "great_snippets/buttons_button_ghost_blue.html" %}
</div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "great_snippets/buttons_button_ghost_blue.html" %}
  {% endfilter %}
</code>
</pre>

  <p class="text">
    White ghost button.
  </p>

<div class="example">
  {% include "great_snippets/buttons_button_ghost_white.html" %}
</div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "great_snippets/buttons_button_ghost_white.html" %}
  {% endfilter %}
</code>
</pre>

  <h3 class="heading-medium" id="button-alignment">Button alignment</h3>
  <p class="text">
    Align the primary action button to the left edge of your form, in the user’s line of sight.
  </p>

  <div class="example example-button">

    <form action="/" method="post" class="form">
      <div class="form-group">
        <label for="form-email-address-1" class="form-label">Email address</label>
        <input type="text" class="form-control" id="form-email-address-1">
      </div>
      <div class="form-group">
        <button class="button">Save and continue</button>
      </div>
    </form>

  </div>

  <h3 class="heading-medium" id="button-disabled">Disabled buttons</h3>
  <ul class="list list-bullet text">
    <li>don’t disable buttons, unless there’s a good reason to</li>
    <li>if you have to disable buttons, make sure they look like you can’t click them (use 50% opacity)</li>
    <li>use the <code class="code">aria-disabled</code> attribute for older screen readers</li>
    <li>an example of a useful disabled option is a calendar with greyed out days where no bookings are available</li>
    <li>provide another way for the user to continue, add an error message or text to explain why the button is disabled</li>
  </ul>

<div class="example">
  <button class="button" disabled="disabled" aria-disabled="true">Disabled primary button</button>
</div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/buttons_button_disabled.html" %}
  {% endfilter %}
</code>
</pre>

  <h3 class="heading-medium" id="creating-buttons">Creating buttons</h3>
  <p class="text">
    Use the Export Elements Sass button mixin &ndash; find this in <a href="https://github.com/uktrade/export-elements/tree/master/export_elements/overrides/govuk_frontend_toolkit/design-patterns/_buttons.scss" rel="external">buttons.scss</a>.
  </p>

  <div class="example example-button">
    <div class="grid-row">
      <div class="column-half">

        <button class="button">Save and continue</button>

      </div>
      <div class="column-one-sixth">

        <div class="swatch-wrapper">
          <div class="swatch swatch-button-colour"></div>
          <ul>
            <li><b>Button</b></li>
            <li><b>#006ccc</b></li>
            <li>$button-colour / $active-blue</li>
          </ul>
        </div>

      </div>
      <div class="column-one-sixth">

        <div class="swatch-wrapper">
          <div class="swatch swatch-aqua"></div>
          <ul>
            <li><b>Hover</b></li>
            <li><b>#007ea3</b></li>
            <li>$aqua</li>
          </ul>
        </div>

      </div>
      <div class="column-one-sixth">

        <div class="swatch-wrapper">
          <div class="swatch swatch-yellow"></div>
          <ul>
            <li><b>Focus</b></li>
            <li><b>#FFBF47</b></li>
            <li>$focus-colour / $focus-yellow</li>
          </ul>
        </div>

      </div>
    </div>

    <div class="grid-row">
      <div class="column-half">

        <button class="button-ghost-blue">Save and continue</button>

      </div>
      <div class="column-one-sixth">

        <div class="swatch-wrapper">
          <div class="swatch swatch-button-colour"></div>
          <ul>
            <li><b>Button</b></li>
            <li><b>#006ccc</b></li>
            <li>$button-colour</li>
          </ul>
        </div>

      </div>
      <div class="column-one-sixth">

        <div class="swatch-wrapper">
          <div class="swatch swatch-aqua"></div>
          <ul>
            <li><b>Hover</b></li>
            <li><b>#007ea3</b></li>
            <li>$aqua</li>
          </ul>
        </div>

      </div>
      <div class="column-one-sixth">

        <div class="swatch-wrapper">
          <div class="swatch swatch-yellow"></div>
          <ul>
            <li><b>Focus</b></li>
            <li><b>#FFBF47</b></li>
            <li>$focus-colour</li>
          </ul>
        </div>

      </div>

    </div>

    <div class="grid-row background-dark">
      <div class="column-half">

        <button class="button-ghost-white">Save and continue</button>

      </div>
      <div class="column-one-sixth">

        <div class="swatch-wrapper">
          <div class="swatch swatch-button-colour"></div>
          <ul>
            <li><b>Button</b></li>
            <li><b>#006ccc</b></li>
            <li>$button-colour</li>
          </ul>
        </div>

      </div>
      <div class="column-one-sixth">

        <div class="swatch-wrapper">
          <div class="swatch swatch-white"></div>
          <ul>
            <li><b>Hover</b></li>
            <li><b>#ffffff</b></li>
            <li>$white</li>
          </ul>
        </div>

      </div>
      <div class="column-one-sixth">

        <div class="swatch-wrapper">
          <div class="swatch swatch-yellow"></div>
          <ul>
            <li><b>Focus</b></li>
            <li><b>#FFBF47</b></li>
            <li>$focus-colour</li>
          </ul>
        </div>

      </div>

    </div>

  </div>

</main><!-- / #content -->
{% endblock %}
