
#header {
  .account-links {
    float: right;
    padding: 7px 0;
  }

  .navigation {
    font-weight: 700;
    color: #fff;
    text-decoration: none;
  }

  .account-links {
    a {
      color: #fff;
    }

    li {
      float: left;
      font-weight: bold;
      margin-left: 5px;

      &:after {
        content: '|';
      }

      &:last-child {
        content: '';
        margin-right: 5px;

        &:after {
          content: '';
        }
      }
    }
  }

  &-dit-logo img {
    max-width: 158px;
    width: 100%;
    margin: 20px 0 15px;
  }

  &-menu {
    a {
      color: #fff;
      display: block;
      position: relative;
      text-decoration: none;
      font-weight: 700;
      padding: 15px;
      padding-bottom: 21px;
    }

    li {
      display: inline-block;
    }

    .container {
      overflow: visible;
    }
  }

  #menu {
    float: right;
    margin-top: -54px;

    a:hover {
      background-color: #00549f;

      &:before {
        background-color: #e41f13;
        content: '';
        height: 4px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    .links-list-item {
      padding: 30px;
      min-height: 170px;

      &:before {
        background-color: transparent;
        border-left: #999999 solid 1px;
        content: "";
        display: block;
        height: calc(100% - (30px * 2));
        position: absolute;
        width: 0;
        margin-left: -31px;
      }

      a {
        padding: 0;
        font-size: 19px;
        font-weight: 400;
        min-height: 45px;

        &:before {
          background: none;
        }

        &:hover:before {
          background: none;
        }
      }
    }
  }

  #skip-link {
    background-color: #1e1348;
    color: #ffffff;
    display: inline-block;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    text-indent: -1000px;
    z-index: -1;

    &:focus {
      background-color: #ffbf47;
      color: #132965;
      left: 0;
      text-indent: 0;
      top: 0;
      z-index: 1;
    }
  }
}
