#header, #footer {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #d8d8d8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#header-bar a,
#header-menu a,
#footer a {
  color: #d8d8d8; }

#header-bar a:focus,
#header-menu a:focus,
#footer a:focus {
  outline: 3px solid #ffbf47; }

#header,
#footer {
  background-color: #1e1348;
  color: #ffffff; }
  #header .column-fifth,
  #footer .column-fifth {
    float: left;
    width: calc(100% / 5);
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #header .column-sixth,
  #footer .column-sixth {
    float: left;
    width: calc(100% / 6);
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #header .container,
  #footer .container {
    width: auto;
    overflow: auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0; }
  #header:before, #header:after,
  #footer:before,
  #footer:after {
    display: none; }
  @media (max-width: 1260px) {
    #header .container,
    #footer .container {
      margin: 0 30px; }
    #header .links-list.container,
    #footer .links-list.container {
      margin: 0; } }
  @media (max-width: 767px) {
    #header .container,
    #footer .container {
      margin: 0 15px; }
    #header .column-third,
    #footer .column-third {
      width: 100%; }
    #header .column-quarter,
    #footer .column-quarter {
      width: 100%; }
    #header .column-fifth,
    #footer .column-fifth {
      width: 100%; }
    #header .column-sixth,
    #footer .column-sixth {
      width: 100%; } }
  @media (max-width: 420px) {
    #header .container,
    #footer .container {
      margin: 0 20px; } }

@media (max-width: 767px) {
  #header-menu .container {
    margin: 0; } }

#header-bar {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.47em;
  color: #ffffff;
  overflow: hidden;
  height: 110px;
  position: relative; }
  #header-bar .account-links li:nth-child(2):after {
    display: none; }
  #header-bar .account-links li:nth-child(3) {
    margin-left: 30px; }
    #header-bar .account-links li:nth-child(3) a {
      text-decoration: none; }
      #header-bar .account-links li:nth-child(3) a:hover {
        text-decoration: underline; }

#header {
  min-height: 110px;
  background: #1e1348; }
  #header ul li {
    position: static; }
    #header ul li:before {
      left: auto;
      top: auto; }
  #header li {
    padding: 0;
    margin: 0; }
    #header li:before {
      background: none; }
  #header .account-links {
    float: right;
    padding: 7px 0; }
    #header .account-links a {
      color: #ffffff; }
    #header .account-links li {
      float: left;
      font-weight: bold;
      margin-left: 5px; }
      #header .account-links li:first-child:after {
        content: '|'; }
  #header .navigation {
    font-weight: 700;
    color: #ffffff;
    text-decoration: none; }

#header-dit-logo {
  height: auto;
  position: absolute;
  margin: 20px 0 15px; }
  #header-dit-logo img {
    max-width: 158px;
    width: 100%; }

#header-menu a {
  color: #ffffff;
  display: block;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  padding: 15px;
  padding-bottom: 21px; }

#header-menu li {
  display: inline-block; }

#header-menu .container {
  overflow: visible; }

@media screen and (min-width: 767px) {
  #header-menu a.navigation:hover:before {
    background-color: #e41f13;
    content: '';
    height: 4px;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute; } }

@media screen and (max-width: 767px) {
  #header-menu a:hover:before {
    background: #00549f; } }

#menu {
  float: right;
  margin-top: -54px;
  line-height: initial;
  background-color: #1e1348; }
  #menu .links-list {
    padding-left: 30px; }
    #menu .links-list a {
      color: #ffffff;
      text-decoration: none; }
  #menu .links-list-item {
    position: relative;
    padding: 0;
    min-height: 166px;
    background-color: #00549f; }
    #menu .links-list-item a {
      font-size: 19px;
      left: -30px;
      padding: 30px;
      padding-top: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
      min-height: 166px;
      font-weight: 400; }
      #menu .links-list-item a span {
        min-height: 3em;
        display: inline-block; }
      #menu .links-list-item a p {
        font-size: 15px; }
  #menu-activator {
    display: none; }
  #menu .Expander {
    background-color: #00549f;
    left: 0;
    opacity: 1;
    position: absolute;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    width: 100%;
    z-index: 1; }
  #menu .Expander.collapsed {
    opacity: 0;
    -webkit-transition: none;
    transition: none;
    z-index: -1; }
  #menu .ExpanderControl {
    cursor: pointer;
    -webkit-transition: none;
    transition: none; }
  #menu .ExpanderControl.active {
    position: relative;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    #menu .ExpanderControl.active:after {
      border-color: #d8d8d8; }
  #menu .navigation.active {
    background-color: #00549f;
    outline: none; }
  #menu .links-list-heading:after {
    -webkit-box-sizing: initial;
    box-sizing: initial;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
    border-style: solid;
    display: inline-block;
    height: 5px;
    width: 5px;
    position: relative;
    vertical-align: top;
    top: 1px;
    border-color: #00549f;
    border-width: 0 2px 2px 0;
    margin: 2px 0 0 10px; }
  #menu .links-list-heading.active:after {
    -webkit-box-sizing: initial;
    box-sizing: initial;
    /* IE 9 */
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    content: '';
    border-style: solid;
    display: inline-block;
    height: 5px;
    width: 5px;
    position: relative;
    vertical-align: top;
    top: 1px;
    border-color: #d8d8d8;
    border-width: 0 2px 2px 0;
    margin: 2px 0 0 10px;
    top: 5px; }
  #menu .links-list-heading.active:before {
    background-color: #e41f13;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    position: absolute;
    width: 100%; }

@media screen and (min-width: 767px) {
  #menu .links-list-item:before {
    background-color: transparent;
    border-left: #999999 solid 1px;
    content: '\00a0';
    display: block;
    height: 110px;
    position: absolute;
    width: 0;
    margin-left: -31px;
    margin-top: 30px; } }

@media screen and (max-width: 767px) {
  #header-menu {
    height: auto;
    padding-bottom: 54px;
    position: relative; }
  #menu.collapsed {
    height: 0;
    overflow: hidden;
    -webkit-transition: none;
    transition: none; }
  #menu {
    background-color: #00549f;
    float: none;
    height: auto;
    padding-top: 0;
    position: relative;
    top: 58px;
    margin-top: -58px;
    -webkit-transition: none;
    transition: none;
    z-index: 1; }
    #menu a {
      font-size: 19px;
      font-weight: 600;
      line-height: 1.58em;
      border-bottom: #999999 solid 1px;
      color: #dfd5c5;
      cursor: default;
      display: block;
      margin: 0;
      outline: none;
      padding: 30px; }
      #menu a:hover {
        background-color: transparent; }
    #menu a.links-list-heading {
      border-top: #999999 solid 1px;
      border-bottom: 0; }
    #menu a.links-list-heading:focus {
      outline: none; }
    #menu ul li {
      display: block;
      margin: 0;
      padding: 0; }
      #menu ul li #header-custom-page-link {
        border: 0; }
    #menu .links-list {
      padding: 0; }
    #menu .description {
      display: none; }
    #menu .links-list-item {
      height: auto;
      min-height: auto;
      position: static;
      padding-top: 30px;
      padding-bottom: 0; }
      #menu .links-list-item a {
        padding: 0;
        min-height: 45px;
        margin-left: 60px;
        margin-right: 30px; }
      #menu .links-list-item:last-child {
        padding-bottom: 20px; }
        #menu .links-list-item:last-child a {
          border: 0; }
      #menu .links-list-item p {
        display: none; }
    #menu .navigation {
      background-color: transparent;
      display: block;
      color: #dfd5c5; }
      #menu .navigation li {
        display: block;
        min-height: 0;
        padding: 0; }
      #menu .navigation li::before {
        display: none; }
      #menu .navigation li:last-child {
        border-bottom: #999999 solid 1px; }
      #menu .navigation li:last-child a {
        border-bottom: 0; }
    #menu .links-list-heading:after,
    #menu .links-list-heading.active:after {
      display: none; }
    #menu .Expander {
      display: block;
      height: auto;
      overflow: auto;
      position: static; }
    #menu .Expander.collapsed {
      height: 0;
      overflow: hidden; }
    #menu .ExpanderControl {
      display: block;
      position: relative; }
    #menu .ExpanderControl.active {
      border-bottom: 0;
      padding-bottom: 15px; }
    #menu .ExpanderControl:before {
      font-family: 'Roboto', arial, helvetica, sans-serif;
      font-size: 15px;
      font-weight: 400;
      color: #ffffff;
      content: '+';
      font-size: 35px;
      height: 30px;
      width: 30px;
      left: auto;
      position: absolute;
      right: 30px;
      top: calc(100% / 3); }
    #menu .ExpanderControl.active:before {
      font-family: 'Roboto', arial, helvetica, sans-serif;
      font-size: 15px;
      font-weight: 400;
      color: #ffffff;
      background-color: transparent;
      content: '_';
      font-size: 40px;
      top: 23%;
      left: auto;
      right: 40px;
      width: auto; }
  #menu-activator {
    font-family: 'Roboto', arial, helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.47em;
    width: 104px;
    height: 50px;
    text-align: left;
    background-color: #1e1348;
    border: 2px solid #ffffff;
    border-radius: 0;
    color: #ffffff;
    display: block;
    padding: 5px 10px;
    margin-right: 15px;
    position: absolute;
    -webkit-transition: none;
    transition: none;
    right: 0;
    top: -5px; }
    #menu-activator:focus {
      outline: #ffbf47 solid 3px;
      outline-offset: 0; }
    #menu-activator span {
      position: absolute;
      right: 15px;
      top: 22px; }
    #menu-activator span,
    #menu-activator span:after,
    #menu-activator span:before {
      background-color: #ffffff;
      clear: right;
      content: '';
      float: right;
      height: 2px;
      margin: 0 0 8px 10px;
      width: 20px; }
    #menu-activator span:before {
      margin-top: -5px; }
  #menu-activator.active {
    background-color: #00549f;
    -webkit-transition: background-color 0.1s;
    transition: background-color 0.1s; } }

#footer li {
  line-height: 30px;
  padding: 0;
  margin: 0; }
  #footer li:before {
    background: none; }

#footer nav.container {
  padding-top: 45px;
  margin-bottom: 30px; }

#footer .link-group {
  width: 25%;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#footer .links-list-heading {
  color: #dfd5c5;
  font-weight: 600;
  margin: 15px 0;
  font-size: 19px; }
  #footer .links-list-heading:before {
    background-color: #e41f13;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    width: 60px;
    position: relative;
    top: -20px;
    display: block; }

#footer .links-list-heading.custom-page-link {
  display: block;
  margin-bottom: 50px; }

#footer .site-links {
  border-top: #3b3458 solid 1px;
  padding: 30px 0;
  font-size: 12px; }
  #footer .site-links li {
    float: left;
    margin-right: 30px; }

#footer-copyright {
  clear: both;
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  background-color: #160d37;
  color: #d8d8d8; }
  #footer-copyright span {
    display: block;
    float: right; }

#footer-dit-logo {
  margin-bottom: 30px;
  height: 70px;
  display: block; }

#footer-eig-logo {
  height: 82px; }

@media screen and (max-width: 767px) {
  #footer nav {
    padding-top: 4px; }
  #footer .link-group {
    margin: 30px 0;
    position: relative;
    width: 50%; }
    #footer .link-group:nth-child(even) {
      border-left: #3b3458 solid 1px;
      left: -1px;
      padding-left: 30px; }
      #footer .link-group:nth-child(even):after {
        left: -1px; }
    #footer .link-group:nth-child(odd) {
      border-right: #3b3458 solid 1px;
      clear: left;
      padding-right: 30px; }
    #footer .link-group:nth-child(3):before, #footer .link-group:nth-child(4):before {
      border-top: #3b3458 solid 1px;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      top: -30px;
      width: 100.5%; }
  #footer .links-list-heading {
    font-family: 'Roboto', arial, helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.47em; }
  #footer .site-links li {
    margin: 0 5px;
    display: inline-block;
    float: none; }
  #footer .site-links ul {
    border-color: #3b3458;
    padding: 20px 30px;
    text-align: center; }
  #footer-copyright .container span {
    display: block;
    float: none; } }

@media screen and (max-width: 540px) {
  #footer-dit-logo {
    height: auto;
    width: 100%; } }

@media screen and (max-width: 480px) {
  #footer nav,
  #footer .site-links ul {
    padding-left: 0;
    padding-right: 0; }
  #footer .link-group:nth-child(even) {
    padding-left: 15px; }
  #footer .link-group:nth-child(odd) {
    padding-right: 15px; }
  #footer-eig-logo {
    height: auto;
    width: 100%; } }

section.error-reporting {
  padding: 30px 0; }

.error-reporting a {
  font-size: 16px;
  text-align: left;
  color: #999999; }

.card.only-title, a.only-title.labelled-card, a.only-title.labelled-image-card {
  height: auto; }

.card, a.labelled-card, a.labelled-image-card,
.labelled-card,
a.labelled-image-card {
  height: 100%;
  min-height: 200px; }

.card, a.labelled-card, a.labelled-image-card {
  border: #efeae2 solid 2px;
  margin-bottom: 30px;
  width: 100%;
  background: #ffffff; }
  .card .card-link, a.labelled-card .card-link, a.labelled-image-card .card-link {
    height: 100%;
    display: block;
    color: #333333;
    text-decoration: none; }
    .card .card-link:hover .card-inner h3, a.labelled-card .card-link:hover .card-inner h3, a.labelled-image-card .card-link:hover .card-inner h3, .card .card-link:hover .card-inner h4, a.labelled-card .card-link:hover .card-inner h4, a.labelled-image-card .card-link:hover .card-inner h4, .card .card-link:hover .card-inner h5, a.labelled-card .card-link:hover .card-inner h5, a.labelled-image-card .card-link:hover .card-inner h5, .card .card-link:hover .card-inner h6, a.labelled-card .card-link:hover .card-inner h6, a.labelled-image-card .card-link:hover .card-inner h6 {
      color: #2b8cc4; }
    .card .card-link:focus, a.labelled-card .card-link:focus, a.labelled-image-card .card-link:focus {
      outline: 3px solid #ffbf47;
      outline-offset: -1px; }
    .card .card-link:active, a.labelled-card .card-link:active, a.labelled-image-card .card-link:active {
      background: #ffbf47; }
      .card .card-link:active .card-inner, a.labelled-card .card-link:active .card-inner, a.labelled-image-card .card-link:active .card-inner {
        background: #ffbf47; }
      .card .card-link:active h3, a.labelled-card .card-link:active h3, a.labelled-image-card .card-link:active h3, .card .card-link:active h4, a.labelled-card .card-link:active h4, a.labelled-image-card .card-link:active h4, .card .card-link:active h5, a.labelled-card .card-link:active h5, a.labelled-image-card .card-link:active h5, .card .card-link:active h6, a.labelled-card .card-link:active h6, a.labelled-image-card .card-link:active h6 {
        color: #00549f; }
    .card .card-link .card-inner h3, a.labelled-card .card-link .card-inner h3, a.labelled-image-card .card-link .card-inner h3, .card .card-link .card-inner h4, a.labelled-card .card-link .card-inner h4, a.labelled-image-card .card-link .card-inner h4, .card .card-link .card-inner h5, a.labelled-card .card-link .card-inner h5, a.labelled-image-card .card-link .card-inner h5, .card .card-link .card-inner h6, a.labelled-card .card-link .card-inner h6, a.labelled-image-card .card-link .card-inner h6 {
      color: #006ccc;
      text-decoration: underline; }
  .card .card-icon, a.labelled-card .card-icon, a.labelled-image-card .card-icon {
    height: 55px;
    margin-bottom: 15px; }
  .card .card-image, a.labelled-card .card-image, a.labelled-image-card .card-image {
    margin: 0;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #ffffff; }
  .card .card-inner, a.labelled-card .card-inner, a.labelled-image-card .card-inner {
    padding: 30px; }
    .card .card-inner h3, a.labelled-card .card-inner h3, a.labelled-image-card .card-inner h3, .card .card-inner h4, a.labelled-card .card-inner h4, a.labelled-image-card .card-inner h4, .card .card-inner h5, a.labelled-card .card-inner h5, a.labelled-image-card .card-inner h5, .card .card-inner h6, a.labelled-card .card-inner h6, a.labelled-image-card .card-inner h6 {
      font-family: 'Roboto', arial, helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
      margin: 0 0 1em; }
    .card .card-inner p.description, a.labelled-card .card-inner p.description, a.labelled-image-card .card-inner p.description {
      margin: 0; }
    .card .card-inner .card-meta, a.labelled-card .card-inner .card-meta, a.labelled-image-card .card-inner .card-meta {
      margin-bottom: 0.5em; }
      .card .card-inner .card-meta .subheading, a.labelled-card .card-inner .card-meta .subheading, a.labelled-image-card .card-inner .card-meta .subheading {
        margin: 0; }

@media (max-width: 640px) {
  .card, a.labelled-card, a.labelled-image-card {
    min-height: auto;
    height: auto; }
    .card .card-icon, a.labelled-card .card-icon, a.labelled-image-card .card-icon {
      height: 35px; }
    .card .card-link, a.labelled-card .card-link, a.labelled-image-card .card-link {
      position: static; } }

a.labelled-card, a.labelled-image-card {
  border: 0;
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-decoration: none;
  color: #333333;
  background-color: transparent; }
  a.labelled-card .card-inner, a.labelled-image-card .card-inner {
    background: #ffffff;
    border: #efeae2 solid 2px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: -2px; }
  a.labelled-card .card-inner.with-image, a.labelled-image-card .card-inner.with-image {
    border-top: 0; }
  a.labelled-card:focus, a.labelled-image-card:focus {
    outline: none; }
    a.labelled-card:focus .card-image, a.labelled-image-card:focus .card-image,
    a.labelled-card:focus .card-header h3, a.labelled-image-card:focus .card-header h3,
    a.labelled-card:focus .card-inner, a.labelled-image-card:focus .card-inner {
      outline: #ffbf47 solid 3px;
      outline-offset: 0; }
    a.labelled-card:focus .card-inner, a.labelled-image-card:focus .card-inner {
      border-color: #ffffff; }
  a.labelled-card:active, a.labelled-image-card:active {
    background-color: transparent; }
  a.labelled-card:focus:active .card-inner, a.labelled-image-card:focus:active .card-inner, a.labelled-card:active .card-inner, a.labelled-image-card:active .card-inner {
    background-color: #ffbf47;
    border-color: #ffbf47; }
  a.labelled-card .card-header, a.labelled-image-card .card-header {
    z-index: 0; }
  a.labelled-card .card-header, a.labelled-image-card .card-header,
  a.labelled-card .card-header h3, a.labelled-image-card .card-header h3 {
    display: inline-block; }
  a.labelled-card .card-header h3, a.labelled-image-card .card-header h3 {
    font-family: 'Roboto', arial, helvetica, sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: #ffffff;
    background-color: #006ccc;
    padding: 10px 30px; }

a.labelled-image-card {
  position: relative; }
  a.labelled-image-card .card-image {
    height: calc(100% - 45px);
    position: absolute;
    width: 100%;
    top: 45px; }
  a.labelled-image-card .card-header {
    position: relative;
    z-index: 1; }

@media (max-width: 640px) {
  a.labelled-image-card .card-image {
    position: static; } }

.heading-hero-domestic span {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 32px;
  line-height: 1.09375;
  font-family: "Overpass", "Roboto", arial, helvetica, verdana;
  display: inline-block;
  color: #ffffff;
  background: #e41f13;
  text-transform: uppercase;
  padding: 8px 15px 5px 15px;
  margin: 0 0 5px -15px; }
  @media (min-width: 641px) {
    .heading-hero-domestic span {
      font-size: 48px;
      line-height: 1.04167; } }

.heading-hero-generic {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 32px;
  line-height: 1.09375;
  font-family: "Overpass", "Roboto", arial, helvetica, verdana;
  color: #ffffff;
  text-transform: uppercase; }
  @media (min-width: 641px) {
    .heading-hero-generic {
      font-size: 48px;
      line-height: 1.04167; } }

.heading-hero-generic-compact {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 24px;
  line-height: 1.04167;
  font-family: "Overpass", "Roboto", arial, helvetica, verdana;
  color: #ffffff;
  text-transform: uppercase; }
  @media (min-width: 641px) {
    .heading-hero-generic-compact {
      font-size: 36px;
      line-height: 1.11111; } }

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 45px;
  padding-bottom: 0;
  color: #ffffff; }

.hero-generic {
  background-color: rgba(0, 82, 157, 0.8); }
  .hero-generic .container {
    min-height: 300px;
    position: relative; }
  .hero-generic .hero-title, .hero-generic .hero-title-compact {
    background-color: rgba(0, 82, 157, 0.8);
    border-bottom: #e41f13 solid 7px;
    bottom: 0;
    left: 0;
    padding: 30px;
    position: absolute;
    width: auto; }
  .hero-generic .hero-title-compact {
    padding: 25px;
    max-width: 30%; }
  .hero-generic .hero-description {
    margin-bottom: 0;
    font-family: "Overpass", "Roboto", arial, helvetica, verdana; }

.hero-domestic h1,
.hero-domestic h2,
.hero-domestic h3 {
  margin-bottom: 60px; }

.hero-domestic img {
  float: right;
  height: 90px;
  margin-bottom: 30px; }

@media (max-width: 1100px) {
  .hero-generic .hero-title, .hero-generic .hero-title-compact,
  .hero-generic .hero-title-compact {
    max-width: 400px; } }

@media (min-width: 641px) {
  .heading-hero-generic {
    line-height: 1.46; } }

@media (max-width: 640px) {
  .heading-hero-generic {
    font-size: 32px;
    line-height: 1; } }

.cookie-notice {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 10px 0; }
  .cookie-notice a:focus, .cookie-notice button:focus {
    outline: #ffbf47 solid 3px;
    outline-offset: 0; }
  .cookie-notice p {
    width: calc(100% - 50px);
    float: left;
    margin: 0; }
  .cookie-notice .container {
    overflow: hidden;
    padding: 3px 0; }
  .cookie-notice .cookie-close {
    float: right;
    display: block;
    padding: 0;
    margin: 0 3px 0 0;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 0;
    position: relative;
    cursor: pointer; }
    .cookie-notice .cookie-close:before {
      -webkit-box-sizing: initial;
      box-sizing: initial;
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      content: '';
      border-style: solid;
      display: inline-block;
      height: 5px;
      width: 5px;
      position: relative;
      vertical-align: top;
      top: 1px;
      border-color: #00549f;
      border-width: 0 2px 2px 0;
      margin: 2px 0 0 10px;
      border-color: #00549f;
      border-width: 2px 0 0 2px;
      top: 5px;
      margin: 0;
      width: 10px;
      height: 10px;
      position: absolute;
      left: 4px;
      top: 10px; }
    .cookie-notice .cookie-close:after {
      -webkit-box-sizing: initial;
      box-sizing: initial;
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      content: '';
      border-style: solid;
      display: inline-block;
      height: 5px;
      width: 5px;
      position: relative;
      vertical-align: top;
      top: 1px;
      border-color: #00549f;
      border-width: 0 2px 2px 0;
      margin: 2px 0 0 10px;
      border-color: #00549f;
      border-width: 0 2px 2px 0;
      top: 1px;
      margin: 0;
      width: 10px;
      height: 10px;
      position: absolute;
      left: 4px;
      top: -4px; }
    .cookie-notice .cookie-close:hover:before, .cookie-notice .cookie-close:hover:after {
      border-color: #2b8cc4; }

#skip-link {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: transparent;
  color: #ffffff;
  display: inline-block;
  padding: 15px;
  overflow: hidden;
  position: absolute;
  text-indent: -1000px;
  z-index: -1; }
  #skip-link:focus {
    outline: #ffbf47 solid 3px;
    outline-offset: 0;
    background-color: #ffbf47;
    color: #132965;
    left: 0;
    text-indent: 0;
    top: 0;
    z-index: 1; }

ul.tag-list li {
  display: inline;
  font-size: 15px; }
  ul.tag-list li:after {
    content: ',';
    margin-left: -0.1em; }
  ul.tag-list li:last-child:after {
    content: ''; }

.content-list .heading {
  margin-bottom: 1.5em; }

.content-list li .heading-small {
  margin-top: 0; }

.content-list li {
  margin-bottom: 1em; }

@media (max-width: 640px) {
  ul.sharing-links {
    padding-bottom: 1em; }
    ul.sharing-links li {
      display: block;
      float: left;
      margin-right: 7.5px; }
    ul.sharing-links:after {
      content: '';
      clear: both;
      display: block; } }

.cta-box, .message-box {
  margin-bottom: 30px; }
  .cta-box .box-heading, .message-box .box-heading {
    margin-top: 0; }

.cta-box {
  padding: 45px; }
  .cta-box .button-container {
    float: right; }
    .cta-box .button-container .button {
      width: 100%;
      text-align: center; }

.message-box {
  padding: 30px; }
  .message-box .box-description:last-child {
    margin-bottom: 0; }

.background-stone-10 {
  background-color: #fdfdfc; }

.background-stone-20 {
  background-color: #fcfbf9; }

.background-stone-30 {
  background-color: #f5f2ed; }

.background-stone-40 {
  background-color: #f2eee8; }

.background-stone-50 {
  background-color: #efeae2; }

.background-stone-60 {
  background-color: #ece6dc; }

.background-stone-70 {
  background-color: #e9e2d6; }

.background-stone-80 {
  background-color: #e5ddd1; }

.background-stone-90 {
  background-color: #e2d9cb; }

.background-stone {
  background-color: #dfd5c5; }

.background-black {
  background-color: #000000; }

.background-grey {
  background-color: #333333; }

.background-mid-grey {
  background-color: #999999; }

.background-light-grey {
  background-color: #d8d8d8; }

.background-offwhite {
  background-color: #fafafa; }

.background-white {
  background-color: #ffffff; }

.background-purple {
  background-color: #4f0b7b; }

.background-great-blue {
  background-color: #1e1348; }

.background-dark-navy {
  background-color: #160d37; }

.background-mid-blue {
  background-color: #00549f; }

.background-active-blue {
  background-color: #006ccc; }

.background-light-blue {
  background-color: #2b8cc4; }

.background-aqua {
  background-color: #007ea3; }

.background-teal {
  background-color: #00A699; }

.background-flag-red {
  background-color: #b00d23; }

.background-great-red {
  background-color: #e41f13; }

.background-focus-yellow {
  background-color: #ffbf47; }

.black-text {
  color: #000000; }

.grey-text {
  color: #333333; }

.mid-grey-text {
  color: #999999; }

.light-grey-text {
  color: #d8d8d8; }

.offwhite-text {
  color: #fafafa; }

.white-text {
  color: #ffffff; }

.purple-text {
  color: #4f0b7b; }

.great-blue-text {
  color: #1e1348; }

.dark-navy-text {
  color: #160d37; }

.mid-blue-text {
  color: #00549f; }

.active-blue-text {
  color: #006ccc; }

.light-blue-text {
  color: #2b8cc4; }

.aqua-text {
  color: #007ea3; }

.teal-text {
  color: #00A699; }

.flag-red-text {
  color: #b00d23; }

.great-red-text {
  color: #e41f13; }

.focus-yellow-text {
  color: #ffbf47; }

.border-stone-10 {
  border-color: #fdfdfc; }

.border-stone-20 {
  border-color: #fcfbf9; }

.border-stone-30 {
  border-color: #f5f2ed; }

.border-stone-40 {
  border-color: #f2eee8; }

.border-stone-50 {
  border-color: #efeae2; }

.border-stone-60 {
  border-color: #ece6dc; }

.border-stone-70 {
  border-color: #e9e2d6; }

.border-stone-80 {
  border-color: #e5ddd1; }

.border-stone-90 {
  border-color: #e2d9cb; }

.border-stone {
  border-color: #dfd5c5; }

.border-black {
  border-color: #000000; }

.border-grey {
  border-color: #333333; }

.border-mid-grey {
  border-color: #999999; }

.border-light-grey {
  border-color: #d8d8d8; }

.border-offwhite {
  border-color: #fafafa; }

.border-white {
  border-color: #ffffff; }

.border-purple {
  border-color: #4f0b7b; }

.border-great-blue {
  border-color: #1e1348; }

.border-dark-navy {
  border-color: #160d37; }

.border-mid-blue {
  border-color: #00549f; }

.border-active-blue {
  border-color: #006ccc; }

.border-light-blue {
  border-color: #2b8cc4; }

.border-aqua {
  border-color: #007ea3; }

.border-teal {
  border-color: #00A699; }

.border-flag-red {
  border-color: #b00d23; }

.border-great-red {
  border-color: #e41f13; }

.border-focus-yellow {
  border-color: #ffbf47; }

.border-thick {
  border-style: solid;
  border-width: 6px; }

.border-medium {
  border-style: solid;
  border-width: 4px; }

.border-thin {
  border-style: solid;
  border-width: 2px; }

.padding-60 {
  padding: 60px; }

.padding-45 {
  padding: 45px; }

.padding-30 {
  padding: 30px; }

.padding-15 {
  padding: 15px; }

.uppercase {
  text-transform: uppercase; }

.information-banner p {
  margin: 0; }

.information-banner .banner-content {
  width: 100%;
  display: table;
  margin: 0; }
  .information-banner .banner-content > * {
    display: table-cell;
    vertical-align: top;
    padding-left: 15px; }
  .information-banner .banner-content > *:first-child {
    padding-left: 0; }

.information-banner .banner-badge {
  white-space: nowrap;
  width: 1px; }
  .information-banner .banner-badge span {
    padding: 2px 15px; }

.information-banner .banner-close-button {
  float: right; }

@media (max-width: 520px) {
  .information-banner .banner-content {
    display: block;
    position: relative; }
    .information-banner .banner-content > * {
      display: block;
      padding-left: 0; }
    .information-banner .banner-content > *:last-child {
      padding: 0; }
    .information-banner .banner-content .banner-badge {
      width: auto;
      padding-bottom: 15px; }
    .information-banner .banner-content .banner-close-button {
      position: absolute;
      top: 0;
      right: 0; } }
