#header, #footer {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #d8d8d8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#header-bar a,
#header-menu a,
#footer a {
  color: #d8d8d8; }

#header-bar a:focus,
#header-menu a:focus,
#footer a:focus {
  outline: 3px solid #ffbf47; }

#header,
#footer {
  background-color: #1e1348;
  color: #ffffff; }
  #header .column-fifth,
  #footer .column-fifth {
    float: left;
    width: calc(100% / 5);
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #header .column-sixth,
  #footer .column-sixth {
    float: left;
    width: calc(100% / 6);
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #header .container,
  #footer .container {
    width: auto;
    overflow: auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0; }
  #header:before, #header:after,
  #footer:before,
  #footer:after {
    display: none; }
  @media (max-width: 1260px) {
    #header .container,
    #footer .container {
      margin: 0 30px; }
    #header .links-list.container,
    #footer .links-list.container {
      margin: 0; } }
  @media (max-width: 767px) {
    #header .container,
    #footer .container {
      margin: 0 15px; }
    #header .column-third,
    #footer .column-third {
      width: 100%; }
    #header .column-quarter,
    #footer .column-quarter {
      width: 100%; }
    #header .column-fifth,
    #footer .column-fifth {
      width: 100%; }
    #header .column-sixth,
    #footer .column-sixth {
      width: 100%; } }
  @media (max-width: 420px) {
    #header .container,
    #footer .container {
      margin: 0 20px; } }

@media (max-width: 767px) {
  #header-menu .container {
    margin: 0; } }

#header-bar {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.47em;
  color: #ffffff;
  overflow: hidden;
  height: 110px;
  position: relative; }
  #header-bar .account-links li:nth-child(2):after {
    display: none; }
  #header-bar .account-links li:nth-child(3) {
    margin-left: 30px; }
    #header-bar .account-links li:nth-child(3) a {
      text-decoration: none; }
      #header-bar .account-links li:nth-child(3) a:hover {
        text-decoration: underline; }

#header {
  min-height: 110px;
  background: #1e1348; }
  #header ul li {
    position: static; }
    #header ul li:before {
      left: auto;
      top: auto; }
  #header li {
    padding: 0;
    margin: 0; }
    #header li:before {
      background: none; }
  #header .account-links {
    float: right;
    padding: 7px 0; }
    #header .account-links a {
      color: #ffffff; }
    #header .account-links li {
      float: left;
      font-weight: bold;
      margin-left: 5px; }
      #header .account-links li:first-child:after {
        content: '|'; }
  #header .navigation {
    font-weight: 700;
    color: #ffffff;
    text-decoration: none; }
  #header #skip-link {
    background-color: #1e1348;
    color: #ffffff;
    display: inline-block;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    text-indent: -1000px;
    z-index: -1; }
    #header #skip-link:focus {
      background-color: #ffbf47;
      color: #132965;
      left: 0;
      text-indent: 0;
      top: 0;
      z-index: 1; }

#header-dit-logo {
  height: auto;
  position: absolute;
  margin: 20px 0 15px; }
  #header-dit-logo img {
    max-width: 158px;
    width: 100%; }

#header-menu a {
  color: #ffffff;
  display: block;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  padding: 15px;
  padding-bottom: 21px; }
  #header-menu a:hover {
    background: #00549f; }
  #header-menu a:hover:before {
    background-color: #e41f13;
    content: '';
    height: 4px;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute; }

#header-menu li {
  display: inline-block; }

#header-menu .container {
  overflow: visible; }

@media screen and (max-width: 767px) {
  #header-menu a:hover:before {
    background: #00549f; } }

#menu {
  float: right;
  margin-top: -54px;
  line-height: initial;
  background-color: #1e1348; }
  #menu .links-list a {
    color: #ffffff;
    text-decoration: none; }
  #menu .links-list-item {
    position: relative;
    padding: 30px;
    min-height: 170px;
    background-color: #00549f; }
    #menu .links-list-item:before {
      background-color: transparent;
      border-left: #999999 solid 1px;
      content: '\00a0';
      display: block;
      height: 110px;
      position: absolute;
      width: 0;
      margin-left: -31px;
      margin-top: 0; }
    #menu .links-list-item a {
      padding: 0;
      font-size: 19px;
      font-weight: 400;
      min-height: 45px; }
      #menu .links-list-item a:before {
        background: none; }
      #menu .links-list-item a:hover:before {
        background: none; }
  #menu-activator {
    display: none; }
  #menu .Expander {
    background-color: #00549f;
    left: 0;
    opacity: 1;
    position: absolute;
    transition: opacity 0.3s;
    width: 100%;
    z-index: 1; }
  #menu .Expander.collapsed {
    opacity: 0;
    transition: none;
    z-index: -1; }
  #menu .ExpanderControl {
    cursor: pointer;
    transition: none; }
  #menu .ExpanderControl.active {
    position: relative;
    transition: background-color 0.3s; }
    #menu .ExpanderControl.active:after {
      border-color: #d8d8d8; }
  #menu .navigation.active {
    background-color: #00549f;
    outline: none; }
  #menu .links-list-heading:after {
    box-sizing: initial;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
    border-style: solid;
    display: inline-block;
    height: 5px;
    width: 5px;
    position: relative;
    vertical-align: top;
    top: 1px;
    border-color: #00549f;
    border-width: 0 2px 2px 0;
    margin: 2px 0 0 10px; }
  #menu .links-list-heading.active:after {
    box-sizing: initial;
    -ms-transform: rotate(225deg);
    /* IE 9 */
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    content: '';
    border-style: solid;
    display: inline-block;
    height: 5px;
    width: 5px;
    position: relative;
    vertical-align: top;
    top: 1px;
    border-color: #d8d8d8;
    border-width: 0 2px 2px 0;
    margin: 2px 0 0 10px;
    top: 5px; }
  #menu .links-list-heading.active:before {
    background-color: #e41f13;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    position: absolute;
    width: 100%; }

@media screen and (max-width: 767px) {
  #header-menu {
    height: auto;
    padding-bottom: 54px; }
  #menu.collapsed {
    height: 0;
    overflow: hidden;
    transition: none; }
  #menu {
    background-color: #00549f;
    float: none;
    height: auto;
    padding-top: 0;
    position: relative;
    top: 58px;
    margin-top: -58px;
    transition: none;
    z-index: 1; }
    #menu a {
      font-size: 19px;
      font-weight: 600;
      line-height: 1.58em;
      border-bottom: #999999 solid 1px;
      color: #dfd5c5;
      cursor: default;
      display: block;
      margin: 0;
      outline: none;
      padding: 30px; }
      #menu a:hover {
        background-color: transparent; }
    #menu a.links-list-heading {
      border-top: #999999 solid 1px;
      border-bottom: 0; }
    #menu a.links-list-heading:focus {
      outline: none; }
    #menu ul li {
      display: block;
      margin: 0;
      padding: 0; }
      #menu ul li #header-custom-page-link {
        border: 0; }
    #menu .description {
      display: none; }
    #menu .links-list-item {
      min-height: auto;
      position: static;
      padding-bottom: 0; }
      #menu .links-list-item:last-child {
        padding-bottom: 20px; }
        #menu .links-list-item:last-child a {
          border: 0; }
      #menu .links-list-item p {
        display: none; }
    #menu .navigation {
      background-color: transparent;
      display: block;
      color: #dfd5c5; }
      #menu .navigation li {
        display: block;
        min-height: 0;
        padding: 0; }
      #menu .navigation li::before {
        display: none; }
      #menu .navigation li:last-child {
        border-bottom: #999999 solid 1px; }
      #menu .navigation li:last-child a {
        border-bottom: 0; }
    #menu .links-list-heading:after,
    #menu .links-list-heading.active:after {
      display: none; }
    #menu .Expander {
      display: block;
      height: auto;
      overflow: auto;
      position: static; }
    #menu .Expander.collapsed {
      height: 0;
      overflow: hidden; }
    #menu .ExpanderControl {
      display: block;
      position: relative; }
    #menu .ExpanderControl.active {
      border-bottom: 0;
      padding-bottom: 15px; }
    #menu .ExpanderControl:before {
      font-family: 'Roboto', arial, helvetica, sans-serif;
      font-size: 15px;
      font-weight: 400;
      color: #ffffff;
      content: '+';
      font-size: 35px;
      height: 30px;
      width: 30px;
      left: auto;
      position: absolute;
      right: 30px;
      top: calc(100% / 3); }
    #menu .ExpanderControl.active:before {
      font-family: 'Roboto', arial, helvetica, sans-serif;
      font-size: 15px;
      font-weight: 400;
      color: #ffffff;
      background-color: transparent;
      content: '_';
      font-size: 40px;
      top: 23%;
      left: auto;
      right: 40px;
      width: auto; }
  #menu-activator {
    font-family: 'Roboto', arial, helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.47em;
    width: 104px;
    height: 50px;
    text-align: left;
    background-color: #1e1348;
    border: 2px solid #ffffff;
    border-radius: 0;
    color: #ffffff;
    display: block;
    padding: 5px 10px;
    margin-right: 15px;
    position: absolute;
    transition: none;
    right: 0;
    top: 45px; }
    #menu-activator:focus {
      outline: #ffbf47 solid 3px;
      outline-offset: 0; }
    #menu-activator span {
      position: absolute;
      right: 15px;
      top: 22px; }
    #menu-activator span,
    #menu-activator span:after,
    #menu-activator span:before {
      background-color: #ffffff;
      clear: right;
      content: '';
      float: right;
      height: 2px;
      margin: 0 0 8px 10px;
      width: 20px; }
    #menu-activator span:before {
      margin-top: -5px; }
  #menu-activator.active {
    background-color: #00549f;
    transition: background-color 0.1s; } }

#footer li {
  line-height: 30px;
  padding: 0;
  margin: 0; }
  #footer li:before {
    background: none; }

#footer nav.container {
  padding-top: 45px;
  margin-bottom: 30px; }

#footer .link-group {
  width: 25%;
  float: left;
  box-sizing: border-box; }

#footer .links-list-heading {
  color: #dfd5c5;
  font-weight: 600;
  margin: 15px 0;
  font-size: 19px; }
  #footer .links-list-heading:before {
    background-color: #e41f13;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    width: 60px;
    position: relative;
    top: -20px;
    display: block; }

#footer .links-list-heading.custom-page-link {
  display: block;
  margin-bottom: 50px; }

#footer .site-links {
  border-top: #3b3458 solid 1px;
  padding: 30px 0;
  font-size: 12px; }
  #footer .site-links li {
    float: left;
    margin-right: 30px; }

#footer-copyright {
  clear: both;
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  background-color: #160d37;
  color: #d8d8d8; }
  #footer-copyright span {
    display: block;
    float: right; }

#footer-dit-logo {
  margin-bottom: 30px;
  height: 70px;
  display: block; }

#footer-eig-logo {
  height: 82px; }

@media screen and (max-width: 767px) {
  #footer nav {
    padding-top: 4px; }
  #footer .link-group {
    margin: 30px 0;
    position: relative;
    width: 50%; }
    #footer .link-group:nth-child(even) {
      border-left: #3b3458 solid 1px;
      left: -1px;
      padding-left: 30px; }
      #footer .link-group:nth-child(even):after {
        left: -1px; }
    #footer .link-group:nth-child(odd) {
      border-right: #3b3458 solid 1px;
      clear: left;
      padding-right: 30px; }
    #footer .link-group:nth-child(3):before, #footer .link-group:nth-child(4):before {
      border-top: #3b3458 solid 1px;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      top: -30px;
      width: 100.5%; }
  #footer .links-list-heading {
    font-family: 'Roboto', arial, helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.47em; }
  #footer .site-links li {
    margin: 0 5px;
    display: inline-block;
    float: none; }
  #footer .site-links ul {
    border-color: #3b3458;
    padding: 20px 30px;
    text-align: center; }
  #footer-copyright .container span {
    display: block;
    float: none; } }

@media screen and (max-width: 540px) {
  #footer-dit-logo {
    height: auto;
    width: 100%; } }

@media screen and (max-width: 480px) {
  #footer nav,
  #footer .site-links ul {
    padding-left: 0;
    padding-right: 0; }
  #footer .link-group:nth-child(even) {
    padding-left: 15px; }
  #footer .link-group:nth-child(odd) {
    padding-right: 15px; }
  #footer-eig-logo {
    height: auto;
    width: 100%; } }

section.error-reporting {
  padding-bottom: 60px; }

.error-reporting a {
  font-size: 16px;
  text-align: left;
  color: #999999; }

.card, a.labelled-card, a.labelled-image-card {
  border: #d8d8d8 solid 1px;
  margin-bottom: 30px;
  min-height: 450px;
  position: relative; }
  .card a, a.labelled-card a, a.labelled-image-card a {
    position: absolute;
    background: #ffffff;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    color: #333333;
    text-decoration: none; }
    .card a:hover .title, a.labelled-card a:hover .title, a.labelled-image-card a:hover .title {
      color: #2b8cc4; }
    .card a:focus, a.labelled-card a:focus, a.labelled-image-card a:focus {
      outline: 3px solid #ffbf47;
      outline-offset: -1px; }
    .card a:active, a.labelled-card a:active, a.labelled-image-card a:active {
      background: #ffbf47; }
      .card a:active .card-inner, a.labelled-card a:active .card-inner, a.labelled-image-card a:active .card-inner {
        background: #ffbf47; }
      .card a:active .title, a.labelled-card a:active .title, a.labelled-image-card a:active .title {
        color: #00549f; }
  .card img, a.labelled-card img, a.labelled-image-card img {
    margin: 0;
    width: 100%; }
  .card .card-inner, a.labelled-card .card-inner, a.labelled-image-card .card-inner {
    padding: 30px; }
    .card .card-inner .title, a.labelled-card .card-inner .title, a.labelled-image-card .card-inner .title {
      font-family: 'Roboto', arial, helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
      color: #006ccc;
      margin: 0 0 1em;
      text-decoration: underline; }
    .card .card-inner p.description, a.labelled-card .card-inner p.description, a.labelled-image-card .card-inner p.description {
      margin: 0; }

@media (max-width: 640px) {
  .card, a.labelled-card, a.labelled-image-card {
    min-height: auto;
    height: auto; }
    .card a, a.labelled-card a, a.labelled-image-card a {
      position: static; } }

a.labelled-card, a.labelled-image-card {
  border: 0;
  position: static;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #333333; }
  a.labelled-card .card-inner, a.labelled-image-card .card-inner {
    background: #ffffff;
    border: #d8d8d8 solid 1px;
    flex-grow: 1; }
  a.labelled-card:focus, a.labelled-image-card:focus {
    outline: none; }
    a.labelled-card:focus img, a.labelled-image-card:focus img,
    a.labelled-card:focus .card-header h3, a.labelled-image-card:focus .card-header h3,
    a.labelled-card:focus .card-inner, a.labelled-image-card:focus .card-inner {
      outline: #ffbf47 solid 3px;
      outline-offset: 0; }
    a.labelled-card:focus .card-inner, a.labelled-image-card:focus .card-inner {
      border-color: #ffffff; }
  a.labelled-card:focus:active .card-inner, a.labelled-image-card:focus:active .card-inner, a.labelled-card:active .card-inner, a.labelled-image-card:active .card-inner {
    background-color: #ffbf47;
    border-color: #ffbf47; }
  a.labelled-card .card-header, a.labelled-image-card .card-header,
  a.labelled-card .card-header h3, a.labelled-image-card .card-header h3 {
    display: inline-block; }
  a.labelled-card .card-header h3, a.labelled-image-card .card-header h3 {
    font-family: 'Roboto', arial, helvetica, sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: #ffffff;
    background-color: #006ccc;
    padding: 10px 30px; }

a.labelled-image-card {
  position: relative;
  min-height: 250px; }
  a.labelled-image-card img {
    height: calc(100% - 45px);
    object-fit: cover;
    position: absolute;
    top: 45px; }
  a.labelled-image-card .card-header {
    position: relative;
    z-index: 1; }

.heading-hero-domestic span {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 32px;
  line-height: 1.09375;
  font-family: "Overpass", "Roboto", arial, helvetica, verdana;
  display: inline-block;
  color: #ffffff;
  background: #e41f13;
  text-transform: uppercase;
  padding: 8px 15px 5px 15px;
  margin: 0 0 5px -15px; }
  @media (min-width: 641px) {
    .heading-hero-domestic span {
      font-size: 48px;
      line-height: 1.04167; } }

.heading-hero-generic {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 32px;
  line-height: 1.09375;
  font-family: "Overpass", "Roboto", arial, helvetica, verdana;
  color: #ffffff;
  text-transform: uppercase; }
  @media (min-width: 641px) {
    .heading-hero-generic {
      font-size: 48px;
      line-height: 1.04167; } }

.heading-hero-generic-compact {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 24px;
  line-height: 1.04167;
  font-family: "Overpass", "Roboto", arial, helvetica, verdana;
  color: #ffffff;
  text-transform: uppercase; }
  @media (min-width: 641px) {
    .heading-hero-generic-compact {
      font-size: 36px;
      line-height: 1.11111; } }

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 45px;
  padding-bottom: 0;
  color: #ffffff; }

.hero-generic {
  background-color: rgba(0, 82, 157, 0.8); }
  .hero-generic .container {
    min-height: 300px;
    position: relative; }
  .hero-generic .hero-title, .hero-generic .hero-title-compact {
    background-color: rgba(0, 82, 157, 0.8);
    border-bottom: #e41f13 solid 7px;
    bottom: 0;
    left: 0;
    padding: 30px;
    position: absolute;
    max-width: 30%; }
  .hero-generic .hero-title-compact {
    padding: 25px; }

.hero-domestic h1,
.hero-domestic h2,
.hero-domestic h3 {
  margin-bottom: 60px; }

.hero-domestic img {
  float: right;
  height: 90px;
  margin-bottom: 30px; }

@media (max-width: 1100px) {
  .hero-generic .hero-title, .hero-generic .hero-title-compact,
  .hero-generic .hero-title-compact {
    max-width: 400px; } }

@media (min-width: 641px) {
  .heading-hero-generic {
    line-height: 1.46; } }

@media (max-width: 640px) {
  .heading-hero-generic {
    font-size: 32px;
    line-height: 1; } }
