
@import '../../export_elements/sass/partials/typography';
@import 'partials/header-footer';

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial;
}

.breadcrumbs {
  padding: 15px 0;
  border-bottom: 3px solid $stone;
  ol li {
    font-size: 15px;
  }
}

.example {
  border-color: $stone;

  &:before {
    background: $stone;
    content: 'Example';
  }
}

.heading-xlarge:first-child {
  @include bold-brand-48
}

#content {
  .heading-secondary {
    display: none;
  }
}
