
a.labelled-card {
  @extend .card;
  border: 0;
  position: static;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: $grey;

  &:focus {
    outline: none;

    img,
    .card-header h3,
    .card-inner {
      @include focus;
    }

    .card-inner {
      border-color: $white;
    }
  }

  &:focus:active,
  &:active {
    .card-inner {
      background-color: $focus-yellow;
      border-color: $focus-yellow;
    }
  }

  .card-header,
  .card-header h3 {
    display: inline-block;
  }

  .card-header h3 {
    @include font-large-bold;
    color: $white;
    background-color: $active-blue;
    padding: 10px $spacing-3;
  }

  .card-inner {
    border: $light-grey solid 1px;
    flex-grow: 1;
  }
}
